<li>
	{{name}}

	<button class="change-order" data-id="{{id}}" data-neworder="{{order}}">
		{{#if fat}}SELECT ORDER!{{else}}CHANGE!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
